interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/translate
  response:
    body:
      string: '{"id":7079,"uuid":"ca3b5b95-6974-49ff-ae8d-f06266be63ae","dataset_uuid":"9a97982a-068e-4cf0-8df7-53f8538a3a78","description":"Translate
        text to a target language.","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Operation:
        translate\n\nOperation description: Translate text to a target language.","language_model_id":null,"model":"azure/gpt4-eu","out_schema":{"type":"string","$defs":{}},"path":"translate","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "ca3b5b95-6974-49ff-ae8d-f06266be63ae", "path": "translate", "description":
      "Translate text to a target language.", "input_schema": null, "out_schema":
      {"type": "string", "$defs": {}}, "instructions": "Operation: translate\n\nOperation
      description: Translate text to a target language.", "model": null, "index_ids":
      [], "use_semantic_search": null, "few_shot": false, "few_shot_count": null,
      "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.opper.ai/v1/functions/ca3b5b95-6974-49ff-ae8d-f06266be63ae
  response:
    body:
      string: '{"id":7079,"uuid":"ca3b5b95-6974-49ff-ae8d-f06266be63ae","dataset_uuid":"9a97982a-068e-4cf0-8df7-53f8538a3a78","description":"Translate
        text to a target language.","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Operation:
        translate\n\nOperation description: Translate text to a target language.","language_model_id":null,"model":"azure/gpt4-eu","out_schema":{"type":"string","$defs":{}},"path":"translate","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "{\"text\":
      \"Hello\", \"target_language\": \"es\"}"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/translate
  response:
    body:
      string: '{"span_id":"b66f5042-d4c7-4b2d-aa1b-548e9cf0ef6e","message":null,"json_payload":"Hola","context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dimension": "metric", "value": 1.0, "comment": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/spans/a436ca92-3ddb-4f48-aa3f-17e0127ffde9/metrics
  response:
    body:
      string: '{"id":"745ec19f-8e71-49f1-8c73-98972e483661","span_id":"a436ca92-3ddb-4f48-aa3f-17e0127ffde9","dimension":"metric","value":1.0,"comment":null,"updated_at":null,"created_at":"2024-08-22T09:57:33.616742Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
