interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test_method
  response:
    body:
      string: '{"id":7077,"uuid":"272e260d-3348-48ac-9aab-2eeca77e66a3","dataset_uuid":"75548c39-19d7-466f-979c-e53b1d63b063","description":"say
        hello","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Operation:
        test_method\n\nOperation description: say hello","language_model_id":null,"model":"azure/gpt4-eu","out_schema":{"type":"string","$defs":{}},"path":"test_method","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "272e260d-3348-48ac-9aab-2eeca77e66a3", "path": "test_method",
      "description": "say hello", "input_schema": null, "out_schema": {"type": "string",
      "$defs": {}}, "instructions": "Operation: test_method\n\nOperation description:
      say hello", "model": null, "index_ids": [], "use_semantic_search": null, "few_shot":
      false, "few_shot_count": null, "cache_configuration": null, "dataset_uuid":
      null}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.opper.ai/v1/functions/272e260d-3348-48ac-9aab-2eeca77e66a3
  response:
    body:
      string: '{"id":7077,"uuid":"272e260d-3348-48ac-9aab-2eeca77e66a3","dataset_uuid":"75548c39-19d7-466f-979c-e53b1d63b063","description":"say
        hello","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Operation:
        test_method\n\nOperation description: say hello","language_model_id":null,"model":"azure/gpt4-eu","out_schema":{"type":"string","$defs":{}},"path":"test_method","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "{\"self\":
      {\"data\": \"Hello\"}}"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test_method
  response:
    body:
      string: '{"span_id":"fed13f56-45cb-4e1f-8a00-43e2abf9c795","message":null,"json_payload":"Hello","context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "{\"self\":
      \"Hello\"}"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test_method
  response:
    body:
      string: '{"span_id":"c50ca5a4-4ff5-479e-a6b5-1a8fa9266a26","message":null,"json_payload":"Hello","context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
