interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/translate
  response:
    body:
      string: '{"id":7079,"uuid":"ca3b5b95-6974-49ff-ae8d-f06266be63ae","dataset_uuid":"9a97982a-068e-4cf0-8df7-53f8538a3a78","description":"Translate
        text to a target language.","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Operation:
        translate\n\nOperation description: Translate text to a target language.","language_model_id":null,"model":"azure/gpt4-eu","out_schema":{"type":"string","$defs":{}},"path":"translate","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "ca3b5b95-6974-49ff-ae8d-f06266be63ae", "path": "translate", "description":
      "Translate text to a target language.", "input_schema": null, "out_schema":
      {"type": "string", "$defs": {}}, "instructions": "Operation: translate\n\nOperation
      description: Translate text to a target language.", "model": null, "index_ids":
      [], "use_semantic_search": null, "few_shot": false, "few_shot_count": null,
      "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.opper.ai/v1/functions/ca3b5b95-6974-49ff-ae8d-f06266be63ae
  response:
    body:
      string: '{"id":7079,"uuid":"ca3b5b95-6974-49ff-ae8d-f06266be63ae","dataset_uuid":"9a97982a-068e-4cf0-8df7-53f8538a3a78","description":"Translate
        text to a target language.","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Operation:
        translate\n\nOperation description: Translate text to a target language.","language_model_id":null,"model":"azure/gpt4-eu","out_schema":{"type":"string","$defs":{}},"path":"translate","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "{\"text\":
      \"Hello\", \"target_language\": \"es\"}"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/translate
  response:
    body:
      string: '{"span_id":"26266958-54ac-4757-b259-10f360b59b3b","message":null,"json_payload":"Hola","context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dimension": "metric", "value": 1.0, "comment": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/spans/481a5292-9b2f-46ab-9b91-5d85becbcecc/metrics
  response:
    body:
      string: '{"id":"fab1f967-12e9-43ed-80d7-f3a90967a88b","span_id":"481a5292-9b2f-46ab-9b91-5d85becbcecc","dimension":"metric","value":1.0,"comment":null,"updated_at":null,"created_at":"2024-08-22T14:02:55.077836Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
