interactions:
- request:
    body: '{"name": "test_index_document", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2852,"uuid":"1d3b1884-0c66-4448-b566-4ee0d804a6bf","name":"test_index_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:03:34.720589Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/1d3b1884-0c66-4448-b566-4ee0d804a6bf/index
  response:
    body:
      string: '{"id":41265,"uuid":"ae41e8aa-19cd-4237-bfca-6dc8f7ee32b4","key":"ae41e8aa-19cd-4237-bfca-6dc8f7ee32b4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/1d3b1884-0c66-4448-b566-4ee0d804a6bf
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
