interactions:
- request:
    body: '{"name": "test_retrieve_document", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2853,"uuid":"8d817a3c-4136-476f-9f4f-b3420ff7e86b","name":"test_retrieve_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:03:35.301459Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/8d817a3c-4136-476f-9f4f-b3420ff7e86b/index
  response:
    body:
      string: '{"id":41266,"uuid":"7febbcaa-024b-43a7-b5fc-1ac4908d80f7","key":"7febbcaa-024b-43a7-b5fc-1ac4908d80f7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "Hello", "k": 1, "filters": null, "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/8d817a3c-4136-476f-9f4f-b3420ff7e86b/query
  response:
    body:
      string: '[{"uuid":"3e7d1b35-48cb-4150-9383-2ae12799d1d2","content":"Hello","metadata":{"source":"test"},"document_id":null,"score":29.453125,"source_uuids":["3e7d1b35-48cb-4150-9383-2ae12799d1d2"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/8d817a3c-4136-476f-9f4f-b3420ff7e86b
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
