interactions:
- request:
    body: '{"name": "test_retrieve_document"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2836,"uuid":"808ced58-152a-4623-8676-e5dcff470c6b","name":"test_retrieve_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:58:09.844282Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/808ced58-152a-4623-8676-e5dcff470c6b/index
  response:
    body:
      string: '{"id":41239,"uuid":"34bc2f87-b90c-444b-8eb5-d57a10b665e2","key":"34bc2f87-b90c-444b-8eb5-d57a10b665e2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "Hello", "k": 1, "filters": null, "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/808ced58-152a-4623-8676-e5dcff470c6b/query
  response:
    body:
      string: '[{"uuid":"96b9f029-1de6-4eff-b06d-50edbbe9539d","content":"Hello","metadata":{"source":"test"},"document_id":null,"score":29.453125,"source_uuids":["96b9f029-1de6-4eff-b06d-50edbbe9539d"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/808ced58-152a-4623-8676-e5dcff470c6b
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
