interactions:
- request:
    body: '{"name": "test_get_by_name"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2832,"uuid":"7050702c-22c7-4238-8b05-517f54bbc366","name":"test_get_by_name","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:58:08.448419Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[{"id":2832,"uuid":"7050702c-22c7-4238-8b05-517f54bbc366","org_id":1,"org_name":null,"name":"test_get_by_name","created_by":"Johnny
        Chadda","created_at":"2024-08-22T09:58:08.448419Z","updated_at":"2024-08-22T09:58:08.448419Z","count":0,"project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/7050702c-22c7-4238-8b05-517f54bbc366
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
