interactions:
- request:
    body: '{"name": "test_retrieve_filters", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2854,"uuid":"01e0c717-5a13-4777-8dbd-905c4fe601a1","name":"test_retrieve_filters","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:03:36.409859Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Bonjour", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/01e0c717-5a13-4777-8dbd-905c4fe601a1/index
  response:
    body:
      string: '{"id":41267,"uuid":"460fc7b3-439a-42a4-95e4-469700cee320","key":"460fc7b3-439a-42a4-95e4-469700cee320"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "test", "k": 1, "filters": [{"key": "source", "operation": "=", "value":
      "test"}], "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/01e0c717-5a13-4777-8dbd-905c4fe601a1/query
  response:
    body:
      string: '[{"uuid":"89c62f29-aade-4c43-b3e1-2eebb02ef6ce","content":"Bonjour","metadata":{"source":"test"},"document_id":null,"score":4.73828125,"source_uuids":["89c62f29-aade-4c43-b3e1-2eebb02ef6ce"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/01e0c717-5a13-4777-8dbd-905c4fe601a1
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
