interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_indexes", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2850,"uuid":"679832bb-797e-48c6-a509-05bcbace4990","name":"test_list_indexes","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:03:34.163676Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[{"id":2850,"uuid":"679832bb-797e-48c6-a509-05bcbace4990","org_id":1,"org_name":null,"name":"test_list_indexes","created_by":"Johnny
        Chadda","created_at":"2024-08-22T14:03:34.163676Z","updated_at":"2024-08-22T14:03:34.163676Z","count":0,"project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/3601c708-33a7-4855-b0d5-3d9ccf264463
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/679832bb-797e-48c6-a509-05bcbace4990
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
