interactions:
- request:
    body: '{"name": "test_index_document"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2835,"uuid":"3391502b-fdcc-40bd-a9dc-198380fe8917","name":"test_index_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:58:09.364241Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/3391502b-fdcc-40bd-a9dc-198380fe8917/index
  response:
    body:
      string: '{"id":41238,"uuid":"5225fe50-1f50-4a50-ad23-aed3a7c886b9","key":"5225fe50-1f50-4a50-ad23-aed3a7c886b9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/3391502b-fdcc-40bd-a9dc-198380fe8917
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
