interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_indexes"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2833,"uuid":"b36ca2a4-dce8-4f33-a3e6-53926505a57f","name":"test_list_indexes","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:58:08.740828Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[{"id":2833,"uuid":"b36ca2a4-dce8-4f33-a3e6-53926505a57f","org_id":1,"org_name":null,"name":"test_list_indexes","created_by":"Johnny
        Chadda","created_at":"2024-08-22T09:58:08.740828Z","updated_at":"2024-08-22T09:58:08.740828Z","count":0,"project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/e331e067-30ed-4d39-a0dd-89ce4bed6759
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/b36ca2a4-dce8-4f33-a3e6-53926505a57f
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
