interactions:
- request:
    body: '{"name": "test_retrieve_filters"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2837,"uuid":"9ef26312-764f-49a2-8875-4fa72c34a513","name":"test_retrieve_filters","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:58:10.806612Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Bonjour", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/9ef26312-764f-49a2-8875-4fa72c34a513/index
  response:
    body:
      string: '{"id":41240,"uuid":"82ffe28b-8089-4557-8b93-6628db014edb","key":"82ffe28b-8089-4557-8b93-6628db014edb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "test", "k": 1, "filters": [{"key": "source", "operation": "=", "value":
      "test"}], "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/9ef26312-764f-49a2-8875-4fa72c34a513/query
  response:
    body:
      string: '[{"uuid":"817b33e7-9c65-4a0a-9a9a-b4d081c18934","content":"Bonjour","metadata":{"source":"test"},"document_id":null,"score":4.73828125,"source_uuids":["817b33e7-9c65-4a0a-9a9a-b4d081c18934"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/9ef26312-764f-49a2-8875-4fa72c34a513
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
