interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_async_chat_stream
  response:
    body:
      string: '{"id":1472,"path":"test/sdk/test_async_chat_stream","description":"Test
        function","input_schema":null,"dataset_uuid":"3a80d437-d721-4a4e-a6a4-f98f995a6496","out_schema":null,"instructions":"translate
        to french","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1472, "path": "test/sdk/test_async_chat_stream", "description":
      "Test function", "input_schema": null, "out_schema": null, "instructions": "translate
      to french", "model": null, "index_ids": null, "use_semantic_search": null, "few_shot":
      null, "few_shot_count": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1472
  response:
    body:
      string: '{"id":1472}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1472
  response:
    body:
      string: '{"id":1472,"path":"test/sdk/test_async_chat_stream","description":"Test
        function","input_schema":null,"dataset_uuid":"3a80d437-d721-4a4e-a6a4-f98f995a6496","out_schema":null,"instructions":"translate
        to french","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_event_uuid": null, "messages": [{"role": "user", "content": "hello"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_async_chat_stream?stream=True
  response:
    body:
      string: "data: {\"event_id\": \"20235a77-c9e9-4e1f-be8d-276474f6e021\"}\r\n\r\ndata:
        {\"delta\": \"Bonjour\"}\r\n\r\n"
    headers:
      Content-Type:
      - text/event-stream; charset=utf-8
      x-accel-buffering:
      - 'no'
    status:
      code: 200
      message: OK
version: 1
