interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_get_by_id
  response:
    body:
      string: '{"id":1465,"path":"test/sdk/test_get_by_id","description":"Test function","input_schema":null,"dataset_uuid":"106d58c9-6747-481e-bfd8-08b95ced667c","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1465, "path": "test/sdk/test_get_by_id", "description": "Test function",
      "input_schema": null, "out_schema": null, "instructions": "Do something", "model":
      null, "index_ids": null, "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1465
  response:
    body:
      string: '{"id":1465}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1465
  response:
    body:
      string: '{"id":1465,"path":"test/sdk/test_get_by_id","description":"Test function","input_schema":null,"dataset_uuid":"106d58c9-6747-481e-bfd8-08b95ced667c","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
