interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_update_function
  response:
    body:
      string: '{"id":1468,"path":"test/sdk/test_update_function","description":"Test
        function","input_schema":null,"dataset_uuid":"2427d84d-f695-475d-b7ae-d7275553043b","out_schema":null,"instructions":"Do
        something else","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":4,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1468, "path": "test/sdk/test_update_function", "description": "Test
      function", "input_schema": null, "out_schema": null, "instructions": "Do something",
      "model": null, "index_ids": null, "use_semantic_search": null, "few_shot": null,
      "few_shot_count": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1468
  response:
    body:
      string: '{"id":1468}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1468
  response:
    body:
      string: '{"id":1468,"path":"test/sdk/test_update_function","description":"Test
        function","input_schema":null,"dataset_uuid":"2427d84d-f695-475d-b7ae-d7275553043b","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":5,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1468
  response:
    body:
      string: '{"id":1468,"path":"test/sdk/test_update_function","description":"Test
        function","input_schema":null,"dataset_uuid":"2427d84d-f695-475d-b7ae-d7275553043b","out_schema":null,"instructions":"Do
        something else","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":6,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
