interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_async_chat_stream
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_async_chat_stream", "description":
      "Translate to French", "input_schema": null, "out_schema": null, "instructions":
      "Translate to French", "model": null, "index_ids": [], "use_semantic_search":
      null, "few_shot": null, "few_shot_count": null, "cache_configuration": null,
      "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7102,"uuid":"0beb7770-f6a6-449a-a3a5-b8fb43377e8f","dataset_uuid":"fede5450-f84d-4baf-88ec-b65f3c13f07f","description":"Translate
        to French","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Translate
        to French","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test/sdk/test_async_chat_stream","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "hello"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_async_chat_stream?stream=True
  response:
    body:
      string: "data: {\"span_id\": \"6a50a650-eaba-40cb-8f16-49629664d006\"}\r\n\r\ndata:
        {\"delta\": \"Bonjour\"}\r\n\r\n"
    headers:
      Content-Type:
      - text/event-stream; charset=utf-8
      x-accel-buffering:
      - 'no'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/0beb7770-f6a6-449a-a3a5-b8fb43377e8f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
