interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_image
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_image", "description": null, "input_schema":
      null, "out_schema": null, "instructions": "describe the image", "model": "openai/gpt4-turbo",
      "index_ids": [], "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7099,"uuid":"485433fa-ce51-498c-97ad-a4c418e68449","dataset_uuid":"365ef93d-77e7-44ae-8a7f-7906d544398c","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/485433fa-ce51-498c-97ad-a4c418e68449
  response:
    body:
      string: '{"id":7099,"uuid":"485433fa-ce51-498c-97ad-a4c418e68449","dataset_uuid":"365ef93d-77e7-44ae-8a7f-7906d544398c","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": [{"type":
      "image_url", "image_url": {"url": "https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/e1/d3/e1d3fee9-9aaa-4599-ba67-1c71a6d0ed03/1200px-seymouria_fossil.jpg"}}]}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_image
  response:
    body:
      string: '{"span_id":"d4671bb4-c154-4766-940f-aec5ac0dd4e0","message":"The image
        shows a fossil embedded in a rock matrix, displayed on a dark background,
        possibly within a museum setting. The specimen appears to be the fossilized
        remains of a small dinosaur or another prehistoric reptilian creature, featuring
        a well-preserved skull, vertebral column, ribs, limbs, and tail. The bones
        are dark and distinct against the lighter color of the surrounding rock. The
        fossil is exceptionally detailed, providing a clear view of the skeletal structure
        and arrangement. This type of preservation is often invaluable to paleontologists
        for studying the anatomy and evolutionary history of ancient species.","json_payload":null,"context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/485433fa-ce51-498c-97ad-a4c418e68449
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
