interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_get_by_path
  response:
    body:
      string: '{"id":1466,"path":"test/sdk/test_get_by_path","description":"Test function","input_schema":null,"dataset_uuid":"8a3b497a-3cb6-453f-af01-5387dbf20e6d","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1466, "path": "test/sdk/test_get_by_path", "description": "Test
      function", "input_schema": null, "out_schema": null, "instructions": "Do something",
      "model": null, "index_ids": null, "use_semantic_search": null, "few_shot": null,
      "few_shot_count": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1466
  response:
    body:
      string: '{"id":1466}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_get_by_path
  response:
    body:
      string: '{"id":1466,"path":"test/sdk/test_get_by_path","description":"Test function","input_schema":null,"dataset_uuid":"8a3b497a-3cb6-453f-af01-5387dbf20e6d","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
