interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_async_chat
  response:
    body:
      string: '{"id":1470,"path":"test/sdk/test_async_chat","description":"Test function","input_schema":null,"dataset_uuid":"6c5f7450-1065-4eb1-8db9-cd70c97e8a13","out_schema":null,"instructions":"translate
        to french","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1470, "path": "test/sdk/test_async_chat", "description": "Test function",
      "input_schema": null, "out_schema": null, "instructions": "translate to french",
      "model": null, "index_ids": null, "use_semantic_search": null, "few_shot": null,
      "few_shot_count": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1470
  response:
    body:
      string: '{"id":1470}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1470
  response:
    body:
      string: '{"id":1470,"path":"test/sdk/test_async_chat","description":"Test function","input_schema":null,"dataset_uuid":"6c5f7450-1065-4eb1-8db9-cd70c97e8a13","out_schema":null,"instructions":"translate
        to french","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_event_uuid": null, "messages": [{"role": "user", "content": "hello"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_async_chat
  response:
    body:
      string: '{"event_id":"36a4cbad-a336-4f43-83a7-0049d4d62d8c","message":"Bonjour","json_payload":null,"error":null,"context":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
