interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_function
  response:
    body:
      string: '{"id":1464,"path":"test/sdk/test_function","description":"Test function","input_schema":null,"dataset_uuid":"f44c263f-4d3d-4d0e-8e2a-acadc0d4baf6","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1464, "path": "test/sdk/test_function", "description": "Test function",
      "input_schema": null, "out_schema": null, "instructions": "Do something", "model":
      null, "index_ids": null, "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1464
  response:
    body:
      string: '{"id":1464}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
