interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_async_chat
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_async_chat", "description": "Translate
      to French", "input_schema": null, "out_schema": null, "instructions": "Translate
      to French", "model": null, "index_ids": [], "use_semantic_search": null, "few_shot":
      null, "few_shot_count": null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7101,"uuid":"d9edd93c-22e6-432f-b84e-13bd3e3290a2","dataset_uuid":"67e9f0f6-9d5b-4de6-a02e-069d9a418b4e","description":"Translate
        to French","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Translate
        to French","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test/sdk/test_async_chat","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "hello"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_async_chat
  response:
    body:
      string: '{"span_id":"81ba6870-c782-43b8-bb2c-840b8c3dab1f","message":"Bonjour","json_payload":null,"context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/d9edd93c-22e6-432f-b84e-13bd3e3290a2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
