interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_image
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_image", "description": null, "input_schema":
      null, "out_schema": null, "instructions": "describe the image", "model": "openai/gpt4-turbo",
      "index_ids": [], "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7135,"uuid":"d9bf3f6e-8d7c-4821-9da1-5e2ba06dbf0c","dataset_uuid":"cea401e5-5a4d-4f24-b7bc-d3967bde0ed4","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/d9bf3f6e-8d7c-4821-9da1-5e2ba06dbf0c
  response:
    body:
      string: '{"id":7135,"uuid":"d9bf3f6e-8d7c-4821-9da1-5e2ba06dbf0c","dataset_uuid":"cea401e5-5a4d-4f24-b7bc-d3967bde0ed4","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": [{"type":
      "image_url", "image_url": {"url": "https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/e1/d3/e1d3fee9-9aaa-4599-ba67-1c71a6d0ed03/1200px-seymouria_fossil.jpg"}}]}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_image
  response:
    body:
      string: '{"span_id":"77634b45-d40d-4c3c-b544-1c4f086f81cc","message":"This image
        shows a fossil embedded in a rock slab, displayed under lit conditions possibly
        in a museum or similar setting. The fossil appears to be that of a small reptile,
        possibly a type of dinosaur or other prehistoric creature, given its skeletal
        structure and size. The bones are well-preserved and clearly visible, including
        the skull, spine, ribs, and limbs. The rock matrix surrounding the fossil
        is relatively smooth, suggesting it may have been prepared to enhance the
        visibility of the skeleton for educational or display purposes.","json_payload":null,"context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/d9bf3f6e-8d7c-4821-9da1-5e2ba06dbf0c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
