interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_get
  response:
    body:
      string: '{"id":1467,"path":"test/sdk/test_get","description":"Test function","input_schema":null,"dataset_uuid":"f716d113-baf7-4559-9e72-08b94e1dbfef","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 1467, "path": "test/sdk/test_get", "description": "Test function",
      "input_schema": null, "out_schema": null, "instructions": "Do something", "model":
      null, "index_ids": null, "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions/1467
  response:
    body:
      string: '{"id":1467}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1467
  response:
    body:
      string: '{"id":1467,"path":"test/sdk/test_get","description":"Test function","input_schema":null,"dataset_uuid":"f716d113-baf7-4559-9e72-08b94e1dbfef","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_get
  response:
    body:
      string: '{"id":1467,"path":"test/sdk/test_get","description":"Test function","input_schema":null,"dataset_uuid":"f716d113-baf7-4559-9e72-08b94e1dbfef","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
