interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_delete_function_by_id
  response:
    body:
      string: '{"detail":"Function not found"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"id": null, "path": "test/sdk/test_delete_function_by_id", "description":
      "Test function", "input_schema": null, "out_schema": null, "instructions": "Do
      something", "model": null, "index_ids": null, "use_semantic_search": null, "few_shot":
      null, "few_shot_count": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/api/v1/functions
  response:
    body:
      string: '{"id":1473}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/1473
  response:
    body:
      string: '{"id":1473,"path":"test/sdk/test_delete_function_by_id","description":"Test
        function","input_schema":null,"dataset_uuid":"e50de991-bc47-4f23-87e4-ca5c65ac4cd6","out_schema":null,"instructions":"Do
        something","use_semantic_search":false,"few_shot":false,"few_shot_count":2,"revision":1,"org_id":1,"index_ids":[],"linked_functions_ids":[],"model":"azure/gpt4-eu","language_model_id":8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/api/v1/functions/by_path/test/sdk/test_delete_function_by_id
  response:
    body:
      string: '{"detail":"Function not found"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
