interactions:
- request:
    body: '{"name": "test_delete_index"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2823,"uuid":"bfc11220-d58d-485d-b3a9-e9866f28a91d","name":"test_delete_index","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:57:16.704830Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/bfc11220-d58d-485d-b3a9-e9866f28a91d
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes/bfc11220-d58d-485d-b3a9-e9866f28a91d
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Index not found","detail":"Index
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/bfc11220-d58d-485d-b3a9-e9866f28a91d
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Index not found","detail":"Index
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
