interactions:
- request:
    body: '{"name": "test_get_by_id", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2841,"uuid":"66bd1a29-54fb-4d7c-a189-0a36db95ba4a","name":"test_get_by_id","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:32.240353Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes/66bd1a29-54fb-4d7c-a189-0a36db95ba4a
  response:
    body:
      string: '{"id":2841,"uuid":"66bd1a29-54fb-4d7c-a189-0a36db95ba4a","name":"test_get_by_id","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:32.240353Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/66bd1a29-54fb-4d7c-a189-0a36db95ba4a
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
