interactions:
- request:
    body: '{"name": "test_get_by_name"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2825,"uuid":"fc596898-6cb7-440c-ba0e-710447bf2e72","name":"test_get_by_name","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:57:17.500405Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[{"id":2825,"uuid":"fc596898-6cb7-440c-ba0e-710447bf2e72","org_id":1,"org_name":null,"name":"test_get_by_name","created_by":"Johnny
        Chadda","created_at":"2024-08-22T09:57:17.500405Z","updated_at":"2024-08-22T09:57:17.500405Z","count":0,"project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/fc596898-6cb7-440c-ba0e-710447bf2e72
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
