interactions:
- request:
    body: '{"name": "test_retrieve_filters", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2845,"uuid":"8ab5d413-ed10-4f6c-80c6-f04b53895b56","name":"test_retrieve_filters","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:35.178252Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Bonjour", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/8ab5d413-ed10-4f6c-80c6-f04b53895b56/index
  response:
    body:
      string: '{"id":41264,"uuid":"2df32a72-a404-41b9-a992-f6b447c53dc4","key":"2df32a72-a404-41b9-a992-f6b447c53dc4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "test", "k": 1, "filters": [{"key": "source", "operation": "=", "value":
      "test"}], "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/8ab5d413-ed10-4f6c-80c6-f04b53895b56/query
  response:
    body:
      string: '[{"uuid":"b054d36c-5425-4dd7-a00c-384f10ca007e","content":"Bonjour","metadata":{"source":"test"},"document_id":null,"score":4.73828125,"source_uuids":["b054d36c-5425-4dd7-a00c-384f10ca007e"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/8ab5d413-ed10-4f6c-80c6-f04b53895b56
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
