interactions:
- request:
    body: '{"name": "test_delete_index", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2840,"uuid":"1ec9526b-44c0-4dbb-8b9d-db74c8f03840","name":"test_delete_index","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:31.791081Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/1ec9526b-44c0-4dbb-8b9d-db74c8f03840
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes/1ec9526b-44c0-4dbb-8b9d-db74c8f03840
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Index not found","detail":"Index
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/1ec9526b-44c0-4dbb-8b9d-db74c8f03840
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Index not found","detail":"Index
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
