interactions:
- request:
    body: '{"name": "test_retrieve_filters"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2828,"uuid":"2e60596d-13cb-4822-b18b-3c33dfdadd29","name":"test_retrieve_filters","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:57:19.391242Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Bonjour", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/2e60596d-13cb-4822-b18b-3c33dfdadd29/index
  response:
    body:
      string: '{"id":41237,"uuid":"b0e1a268-2a4a-46f9-ab33-94e3748bb00a","key":"b0e1a268-2a4a-46f9-ab33-94e3748bb00a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "test", "k": 1, "filters": [{"key": "source", "operation": "=", "value":
      "test"}], "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/2e60596d-13cb-4822-b18b-3c33dfdadd29/query
  response:
    body:
      string: '[{"uuid":"dc133e0a-8c77-4db5-897e-a8a612348949","content":"Bonjour","metadata":{"source":"test"},"document_id":null,"score":4.73828125,"source_uuids":["dc133e0a-8c77-4db5-897e-a8a612348949"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/2e60596d-13cb-4822-b18b-3c33dfdadd29
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
