interactions:
- request:
    body: '{"name": "test_retrieve_document"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2827,"uuid":"19d98421-4146-4a17-bcd6-de004179498f","name":"test_retrieve_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:57:18.361228Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/19d98421-4146-4a17-bcd6-de004179498f/index
  response:
    body:
      string: '{"id":41236,"uuid":"2d53fa0f-82b6-41e5-bf33-de60c0bfdcfd","key":"2d53fa0f-82b6-41e5-bf33-de60c0bfdcfd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "Hello", "k": 1, "filters": null, "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/19d98421-4146-4a17-bcd6-de004179498f/query
  response:
    body:
      string: '[{"uuid":"a0c15fed-6d2d-4a8e-a6e9-20f00f8f4250","content":"Hello","metadata":{"source":"test"},"document_id":null,"score":29.453125,"source_uuids":["a0c15fed-6d2d-4a8e-a6e9-20f00f8f4250"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/19d98421-4146-4a17-bcd6-de004179498f
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
