interactions:
- request:
    body: '{"name": "test_retrieve_document", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2844,"uuid":"22fec3f9-9706-4518-9fcf-8f6726416232","name":"test_retrieve_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:34.036951Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/22fec3f9-9706-4518-9fcf-8f6726416232/index
  response:
    body:
      string: '{"id":41263,"uuid":"cf5d8ad0-6e4e-45c4-98da-f8dbb35f4aac","key":"cf5d8ad0-6e4e-45c4-98da-f8dbb35f4aac"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"q": "Hello", "k": 1, "filters": null, "parent_span_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/22fec3f9-9706-4518-9fcf-8f6726416232/query
  response:
    body:
      string: '[{"uuid":"0890cdd8-1021-41f4-a610-cb7a00e53ca3","content":"Hello","metadata":{"source":"test"},"document_id":null,"score":29.453125,"source_uuids":["0890cdd8-1021-41f4-a610-cb7a00e53ca3"]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/22fec3f9-9706-4518-9fcf-8f6726416232
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
