interactions:
- request:
    body: '{"name": "test_index_document", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2843,"uuid":"b6567bab-954e-45bc-8ffc-01318915f9cd","name":"test_index_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:33.230681Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/b6567bab-954e-45bc-8ffc-01318915f9cd/index
  response:
    body:
      string: '{"id":41262,"uuid":"f0bbaaaf-3531-420e-80e4-831212e7ceea","key":"f0bbaaaf-3531-420e-80e4-831212e7ceea"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/b6567bab-954e-45bc-8ffc-01318915f9cd
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
