interactions:
- request:
    body: '{"name": "test_index_document"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2826,"uuid":"8a338b86-8a95-45f4-b064-47606041b184","name":"test_index_document","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T09:57:17.834906Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"key": null, "content": "Hello", "metadata": {"source": "test"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes/8a338b86-8a95-45f4-b064-47606041b184/index
  response:
    body:
      string: '{"id":41235,"uuid":"1a61268c-8494-4dd2-a070-811b60412600","key":"1a61268c-8494-4dd2-a070-811b60412600"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/8a338b86-8a95-45f4-b064-47606041b184
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
