interactions:
- request:
    body: '{"name": "test_create_index", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2839,"uuid":"8bbccb48-4c4c-4b30-97f0-bc19cac6e1ff","name":"test_create_index","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:31.273585Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/8bbccb48-4c4c-4b30-97f0-bc19cac6e1ff
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
