interactions:
- request:
    body: '{"name": "test_get_by_name", "embedding_model": "text-embedding-ada-002"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '{"id":2842,"uuid":"246e02f3-d2cc-4c0f-9140-32977e294acf","name":"test_get_by_name","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"files":[],"created_at":"2024-08-22T14:02:32.741718Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/indexes
  response:
    body:
      string: '[{"id":2842,"uuid":"246e02f3-d2cc-4c0f-9140-32977e294acf","org_id":1,"org_name":null,"name":"test_get_by_name","created_by":"Johnny
        Chadda","created_at":"2024-08-22T14:02:32.741718Z","updated_at":"2024-08-22T14:02:32.741718Z","count":0,"project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/indexes/246e02f3-d2cc-4c0f-9140-32977e294acf
  response:
    body:
      string: 'true'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
