interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test_client_raises_timeout_error
  response:
    body:
      string: '{"id":7076,"uuid":"abc39742-da8a-42b1-a91c-32f8a6b75085","dataset_uuid":"8bfd5744-6b2f-4db8-b25d-40763d26e59b","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"test","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test_client_raises_timeout_error","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "abc39742-da8a-42b1-a91c-32f8a6b75085", "path": "test_client_raises_timeout_error",
      "description": null, "input_schema": null, "out_schema": null, "instructions":
      "test", "model": null, "index_ids": [], "use_semantic_search": false, "few_shot":
      false, "few_shot_count": 2, "cache_configuration": null, "dataset_uuid": "8bfd5744-6b2f-4db8-b25d-40763d26e59b"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.opper.ai/v1/functions/abc39742-da8a-42b1-a91c-32f8a6b75085
  response:
    body:
      string: '{"id":7076,"uuid":"abc39742-da8a-42b1-a91c-32f8a6b75085","dataset_uuid":"8bfd5744-6b2f-4db8-b25d-40763d26e59b","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"test","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test_client_raises_timeout_error","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
