interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test_async_client_raises_timeout_error
  response:
    body:
      string: '{"id":7075,"uuid":"5a66fd73-c497-4bba-8369-9481c1c55809","dataset_uuid":"3e2000c9-8978-432f-a3c8-d19a0fed9eea","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"test","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test_async_client_raises_timeout_error","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "5a66fd73-c497-4bba-8369-9481c1c55809", "path": "test_async_client_raises_timeout_error",
      "description": null, "input_schema": null, "out_schema": null, "instructions":
      "test", "model": null, "index_ids": [], "use_semantic_search": false, "few_shot":
      false, "few_shot_count": 2, "cache_configuration": null, "dataset_uuid": "3e2000c9-8978-432f-a3c8-d19a0fed9eea"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.opper.ai/v1/functions/5a66fd73-c497-4bba-8369-9481c1c55809
  response:
    body:
      string: '{"id":7075,"uuid":"5a66fd73-c497-4bba-8369-9481c1c55809","dataset_uuid":"3e2000c9-8978-432f-a3c8-d19a0fed9eea","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"test","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test_async_client_raises_timeout_error","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
