interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_image
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_image", "description": null, "input_schema":
      null, "out_schema": null, "instructions": "describe the image", "model": "openai/gpt4-turbo",
      "index_ids": [], "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7147,"uuid":"e890e95e-f738-4e73-abff-91f69515ebdb","dataset_uuid":"430a58fc-a7b5-4b17-82b0-809456369b3e","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/e890e95e-f738-4e73-abff-91f69515ebdb
  response:
    body:
      string: '{"id":7147,"uuid":"e890e95e-f738-4e73-abff-91f69515ebdb","dataset_uuid":"430a58fc-a7b5-4b17-82b0-809456369b3e","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": [{"type":
      "image_url", "image_url": {"url": "https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/e1/d3/e1d3fee9-9aaa-4599-ba67-1c71a6d0ed03/1200px-seymouria_fossil.jpg"}}]}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_image
  response:
    body:
      string: '{"span_id":"5c6a7cf8-9983-4591-a6e2-e8f7669c6dee","message":"This image
        shows a fossil of a prehistoric creature encased in stone. The fossil is highly
        detailed, displaying the skeletal structure of the animal, which appears similar
        to that of a small dinosaur or a lizard. The skull is clearly visible with
        distinct eye sockets, and the ribs and spine are well preserved alongside
        the limb bones. The rock around the fossil has a textured, uneven surface,
        highlighting the fossilized remains prominently. The specimen is displayed
        on a black background under direct lighting, enhancing its visibility and
        details.","json_payload":null,"context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/e890e95e-f738-4e73-abff-91f69515ebdb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
