interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_image
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_image", "description": null, "input_schema":
      null, "out_schema": null, "instructions": "describe the image", "model": "openai/gpt4-turbo",
      "index_ids": [], "use_semantic_search": null, "few_shot": null, "few_shot_count":
      null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7111,"uuid":"a459835d-623f-4d03-989f-a16f79b170b8","dataset_uuid":"eef88f6f-281f-409e-b70d-7a1770e7a43a","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/a459835d-623f-4d03-989f-a16f79b170b8
  response:
    body:
      string: '{"id":7111,"uuid":"a459835d-623f-4d03-989f-a16f79b170b8","dataset_uuid":"eef88f6f-281f-409e-b70d-7a1770e7a43a","description":null,"few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"describe
        the image","language_model_id":null,"model":"openai/gpt4-turbo","out_schema":null,"path":"test/sdk/test_image","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": [{"type":
      "image_url", "image_url": {"url": "https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/e1/d3/e1d3fee9-9aaa-4599-ba67-1c71a6d0ed03/1200px-seymouria_fossil.jpg"}}]}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_image
  response:
    body:
      string: '{"span_id":"c6c991df-b442-4790-b29d-6db8a71719e4","message":"This image
        shows a fossilized skeleton of a prehistoric animal preserved in stone. The
        fossil is laid out on an elliptical slab that appears to be displayed under
        a light, possibly in a museum setting. The skeleton includes a complete spinal
        column, ribs, limbs, a tail, and a distinct skull with visible cranial and
        facial features. The posture of the skeleton suggests it was fossilized in
        a dormant or resting position, with the head turned towards the viewer. The
        detail of the bones and their state of preservation provide valuable insights
        into the anatomy and possible lifestyle of this creature when it was alive.","json_payload":null,"context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/a459835d-623f-4d03-989f-a16f79b170b8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
