interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_update_function
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_update_function", "description":
      "Test function", "input_schema": null, "out_schema": null, "instructions": "Do
      something", "model": null, "index_ids": [], "use_semantic_search": null, "few_shot":
      null, "few_shot_count": null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7144,"uuid":"5485dbc8-4c4e-4e23-9909-30c9557aa63c","dataset_uuid":"e38f2d84-01e5-4dc3-a5b2-2eabed55f1e3","description":"Test
        function","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Do
        something","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test/sdk/test_update_function","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/5485dbc8-4c4e-4e23-9909-30c9557aa63c
  response:
    body:
      string: '{"id":7144,"uuid":"5485dbc8-4c4e-4e23-9909-30c9557aa63c","dataset_uuid":"e38f2d84-01e5-4dc3-a5b2-2eabed55f1e3","description":"Test
        function","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Do
        something","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test/sdk/test_update_function","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/5485dbc8-4c4e-4e23-9909-30c9557aa63c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
