interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_create_function_with_cache_sync_flush
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_create_function_with_cache_sync_flush",
      "description": "Test function", "input_schema": null, "out_schema": null, "instructions":
      "Do something", "model": null, "index_ids": [], "use_semantic_search": null,
      "few_shot": null, "few_shot_count": null, "cache_configuration": {"exact_match_cache_ttl":
      10, "semantic_cache_threshold": null, "semantic_cache_ttl": null}, "dataset_uuid":
      null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7116,"uuid":"ad41598c-8275-4cdd-99ac-dfc6d5547b27","dataset_uuid":"c577364f-2927-41d1-ad35-3efc62d64f74","description":"Test
        function","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Do
        something","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test/sdk/test_create_function_with_cache_sync_flush","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"parent_span_uuid": null, "messages": [{"role": "user", "content": "hello"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/chat/test/sdk/test_create_function_with_cache_sync_flush
  response:
    body:
      string: '{"span_id":"b68cf315-e3a6-4ab7-8668-b99b5c2cbca2","message":"Hello
        there! How can I assist you today? If you have any questions or need information
        on a specific topic, feel free to ask.","json_payload":null,"context":null,"cached":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/ad41598c-8275-4cdd-99ac-dfc6d5547b27/cache
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/ad41598c-8275-4cdd-99ac-dfc6d5547b27
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
