interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/by_path/test/sdk/test_delete_function_by_id
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"uuid": null, "path": "test/sdk/test_delete_function_by_id", "description":
      "Test function", "input_schema": null, "out_schema": null, "instructions": "Do
      something", "model": null, "index_ids": [], "use_semantic_search": null, "few_shot":
      null, "few_shot_count": null, "cache_configuration": null, "dataset_uuid": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/functions
  response:
    body:
      string: '{"id":7145,"uuid":"bb62ae5a-78fb-4354-b568-3171c3d71947","dataset_uuid":"d8bdabeb-6fb4-4e83-a649-f8c6c95dbc93","description":"Test
        function","few_shot_count":2,"few_shot":false,"index_ids":[],"input_schema":null,"instructions":"Do
        something","language_model_id":null,"model":"azure/gpt4-eu","out_schema":null,"path":"test/sdk/test_delete_function_by_id","project":{"uuid":"1e29233e-9569-4fa3-a40c-edfd42d65e8d","name":"jctestsql"},"revision":1,"use_semantic_search":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/functions/bb62ae5a-78fb-4354-b568-3171c3d71947
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.opper.ai/v1/functions/bb62ae5a-78fb-4354-b568-3171c3d71947
  response:
    body:
      string: '{"errors":[{"type":"HTTPException","message":"Function not found","detail":"Function
        not found"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
