interactions:
- request:
    body: '{"uuid": "bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4134", "name": "name", "input":
      "input", "start_time": "2021-01-01T00:00:00"}'
    headers:
    method: POST
    uri: https://api.opper.ai/v1/spans
  response:
    body:
      string: '{"uuid":"bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4134"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dimension": "dim", "value": 0.5, "comment": "comment"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/spans/bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4134/metrics
  response:
    body:
      string: '{"id":"f2a719d6-6d41-42b3-a0e9-8786949bc8f6","span_id":"bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4134","dimension":"dim","value":0.5,"comment":"comment","updated_at":null,"created_at":"2024-08-22T09:57:21.353002Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/spans/bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4134
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
