interactions:
- request:
    body: '{"uuid": "bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4133", "project": "project",
      "name": "name", "input": "input", "start_time": "2021-01-01T00:00:00"}'
    headers:
    method: POST
    uri: https://api.opper.ai/v1/spans
  response:
    content: '{"uuid":"bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4133"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '{"dimension": "dim", "score": 0.5, "comment": "comment"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.opper.ai/v1/spans/bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4133/metrics
  response:
    content: '{"id":"f560406a-8f98-4643-9197-8428f89f3c43","span_id":"bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4133","dimension":"dim","score":0.5,"comment":"comment","updated_at":null,"created_at":"2024-04-30T18:46:03.156728Z"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/spans/bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4133
  response:
    content: ''
    headers:
      Content-Type:
      - application/json
    status_code: 204
version: 1
