interactions:
- request:
    body: '{"uuid": "bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4115", "name": "name", "input":
      "input", "start_time": "2021-01-01T00:00:00"}'
    headers:
    method: POST
    uri: https://api.opper.ai/v1/spans
  response:
    body:
      string: '{"uuid":"bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4115"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "cfc1c3c4-0c3c-4c3c-8c3c-0c3c4c31cc15", "name": "name", "input":
      "input", "start_time": "2021-01-01T00:00:00", "parent_uuid": "bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4115"}'
    headers:
    method: POST
    uri: https://api.opper.ai/v1/spans
  response:
    body:
      string: '{"uuid":"cfc1c3c4-0c3c-4c3c-8c3c-0c3c4c31cc15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid": "cfc1c3c4-0c3c-4c3c-8c3c-0c3c4c31cc15", "output": "output", "end_time":
      "2021-01-02T00:00:00"}'
    headers:
    method: PUT
    uri: https://api.opper.ai/v1/spans/cfc1c3c4-0c3c-4c3c-8c3c-0c3c4c31cc15
  response:
    body:
      string: '{"uuid":"cfc1c3c4-0c3c-4c3c-8c3c-0c3c4c31cc15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://api.opper.ai/v1/spans/bcf1b3b4-0b3b-4b3b-8b3b-0b3b4b3b4115
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
